<div id="loginContainer">

  <% if current_user_session %>
    <%= link_to(image_tag(current_user.profile.avatar.url(:small)), my_profile_path) if current_user.profile.avatar? %>
    <span>
      <%= I18n.t('users.user_sessions.login.hello', :name => current_user.profile.first_name) %><br/>
    </span>

  <% else %>

    <% form_for UserSession.new, :url => user_session_path do |f| %>
      <span class="label"><%= I18n.t('users.user_sessions.login.email') %></span>
      <span class="label"><%= I18n.t('users.user_sessions.login.password') %></span><br/>
      <%= f.text_field :email, :class => 'loginField' %>
      <%= f.password_field :password, :class => 'loginField' %>
      <%= f.submit 'Login', :class => 'loginButton' %><br/>
    <% end %>

    <%= link_to I18n.t('users.user_sessions.login.signup'), join_path, :class => 'ajaxLink bottomLabel' %>
    <%= link_to I18n.t('users.user_sessions.login.set_password'), new_password_reset_path, :class => 'ajaxLink bottomLabel' %><br/>
  <% end %>
</div>
