<% @profile = profile if defined?(profile) %>

<div id="profile_details_container" style="clear:both; overflow:auto;">
  <ul>
    <li id="full_name" style="color:#ff0;"><%=h @profile.full_name %></li>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#concernments">Concernments</a></li>
    <li><a href="#web_profiles">Web Profiles</a></li>
  </ul>

  <div id="avatar" style="float:left; max-width:100px;">
    <%= render :partial => 'users/profile_details/avatar' %>
  </div>

  <div id="overview" style="float:left; max-width:300px; -moz-border-radius:5px; border:1px solid #999;">
    <%= render :partial => 'users/profile_details/overview' %>
  </div>

  <div id="concernments" style="float:left; max-width:300px; -moz-border-radius:5px; border:1px solid #999;">
    <%= render :partial => 'users/profile_details/concernments' %>
  </div>

  <div id="web_profiles" style="float:left; max-width:300px; -moz-border-radius:5px; border:1px solid #999;">
    <%= render :partial => 'users/profile_details/web_profiles' %>
  </div>

  <div id="options" style="float:right; max-width:100px;">
    <%= render :partial => 'users/profile_details/options' %>
  </div>



  <script type="text/javascript">
    $('#profile_details_container').tabs();
  </script>

</div>
