<h1>Listing invited_people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Interested person</th>
  </tr>

<% @invited_people.each do |invited_person| %>
  <tr>
    <td><%=h invited_person.name %></td>
    <td><%=h invited_person.email %></td>
    <td><%=h invited_person.interested_person_id %></td>
    <td><%= link_to 'Show', invited_person %></td>
    <td><%= link_to 'Edit', edit_invited_person_path(invited_person) %></td>
    <td><%= link_to 'Destroy', invited_person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invited_person', new_invited_person_path %>