<%= link_to_remote("<h1 class='link'>#{I18n.t('users.users.new.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= I18n.t('users.users.new.subtitle') %></h2>

<%= image_tag('page/illustrations/join.jpg', :id => 'joinIllustration') %>

<%= I18n.t('users.users.new.text') %>

<% form_for @user, :url => users_path, :html => {:class => 'echoForm', :id => 'new_user_form'} do |user_form| %>

  <% user_form.fields_for :profile do |profile_form| %>
    <p>
      <%= profile_form.label I18n.t('application.general.first_name') %><br />
      <%= profile_form.text_field :first_name %>
    </p>

    <p>
      <%= profile_form.label I18n.t('application.general.last_name') %><br />
      <%= profile_form.text_field :last_name %>
    </p>
  <% end %>

  <%= user_form.label I18n.t('application.general.email') %><br />
  <%= user_form.text_field :email %><br /><br/>

  <div class="echoButtonBigHolder">
    <%= user_form.submit '', :class => 'echoButtonBig' %>
    <span class="echoActionBig clear"><%= I18n.t('users.users.new.action') %></span>
  </div>
<% end %>

<script type="text/javascript">
  $('#new_user_form').ajaxForm({ dataType: 'script' });
</script>
