<%= link_to_remote("<h1 class='link'>#{I18n.t('users.users.new.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= I18n.t('users.users.new.subtitle') %></h2>

<%= image_tag('page/illustrations/join.jpg', :id => 'joinIllustration') %>

<%= I18n.t('users.users.new.text') %>

<% form_for @user, :url => users_path, :html => {:class => 'echoForm', :id => 'new_user_form'} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label I18n.t('application.general.first_name') %><br />
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label I18n.t('application.general.last_name') %><br />
    <%= f.text_field :last_name %>
  </p>

  <%= f.label I18n.t('application.general.email') %><br />
  <%= f.text_field :email %><br /><br/>
  
  <%= f.submit I18n.t('application.general.send'), :class => 'submit_button' %>

  <div class="echoButtonBigHolder">
    <%- f.submit '', :class => 'echoButtonBig' %>
    <span class="echoButtonBig"></span>
    <span class="echoActionBig clear"><%= I18n.t('users.users.new.action') %></span>
  </div>
<% end %>

<script type="text/javascript">
  $("#new_user_form").ajaxForm({ dataType: 'script' });
</script>
