<% @user = user if defined?(user) %>

<li id="<%= dom_id(@user) %>">
  <% link_to @user, :class => 'ajax show_link' do %>
    <%= image_tag @user.picture.url(:small) %>
  <% end %>
  <div>
    <%=h @user.full_name %> <br/>
    <%=h @user.email %>     <br/>
    <%= link_to 'Show', @user, :class => 'ajax show_link' %> 
    <% if show_admin_options? %>
      <%= link_to 'Edit', edit_user_path(@user) %>
      <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
  
</li>
