<% content_for :tabContainer do %>
  <%= render :partial => 'tabs' %>
<% end %>

<h1>Register</h1>

<% form_for @user, :url => users_path do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :prename %><br />
    <%= f.text_field :prename %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <%= f.submit "Register" %>
<% end %>