 <h1><%= I18n.t('users.activations.heading') %></h1>

<% form_for @user, :url => activate_path(@user.id), :html => { :method => :post } do |form| %>
  <p>
    <%= form.label :password, I18n.t('users.activations.set') %>
    <%= form.password_field :password %>
  </p><p>
    <%= form.label I18n.t('users.activations.confirm') %>
    <%= form.password_field :password_confirmation %>
  </p><p>
    <%= form.submit I18n.t('users.activations.activate') %>
  </p>
<% end %>
