<div id="membership_container" class="header_block">
  <h2><%= I18n.t('users.memberships.title') %></h2>
  
  <div class="guide">
    <%= I18n.t('users.memberships.guide') %>
  </div>

  <ul id="membership_list">
    <li>
      <span class="column_200 label"><%= I18n.t('users.memberships.organisation') %></span>
      <span class="column_200 label"><%= I18n.t('users.memberships.position') %></span>
    </li>
    <%= render :partial => 'users/memberships/membership', :collection => @user.memberships %>
  </ul>
  
  <ul>
    <%= render :partial => 'users/memberships/new' %>
  </ul>
</div>
