<h1>Listing memberships</h1>

<table>
  <tr>
    <th>User</th>
    <th>Organisation</th>
    <th>Position</th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%=h membership.user_id %></td>
    <td><%=h membership.organisation %></td>
    <td><%=h membership.position %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New membership', new_membership_path %>