<% content_for :submenu, tabnav(:connect) %>

<div id="search_container">
  <% form_tag connect_path, :method => 'GET', :id => 'search_form' do %>
    <%= text_field_tag :value %>
    <%= hidden_field_tag :sort, @sort if not @sort.nil? %>
    <%= hidden_field_tag :sort if @sort.nil? %>
    <%= submit_tag '', :alt => 'search_button' %>
  <% end %>
</div>

<div id="connect_container">
  <%= render :partial => 'connect/profiles/list' %>
  <%= render :partial => 'connect/profiles/empty' %>
</div>

<script type="text/javascript">
  $('#search_form').ajaxForm({ dataType : 'script' });

  $('.profile.active img').die("click");
  $('.profile.active img').live("click", function() {
    $('#profile_details_container').animate(toggleParams, 300);
    $('.profile').removeClass('active');
    return false;
  });
</script>
