<% content_for :submenu, tabnav(:connect) %>

<h1><%= I18n.t('static.echo.connect.title') %></h1>

<h2><%= I18n.t('application.roadmap.status_quo') %></h2>
<%= I18n.t('application.roadmap.connect.status_quo', :progress => Development::CONNECT_PROGRESS) %>

<h2><%= I18n.t('application.roadmap.next_steps') %></h2>
<%= I18n.t('application.roadmap.connect.next_steps') %>

<h2><%= I18n.t('application.roadmap.vision') %></h2>

<p>
  <%= I18n.t('static.echo.connect.text_top') %>

  <ol><%= I18n.t('static.echo.connect.list') %></ol>

  <%= I18n.t('static.echo.connect.text_bottom') %>
</p>

