<% content_for :tabContainer do %>
  <%= render :partial => 'tabs' %>
<% end %>

<% insert_breadcrumb(echocracy_path, echocracy_path(:citizens), '.title_long') %>

<%= t('.text_top') %>

<ul class="benefitList">
  <li>
  	<strong><%= t('.adv1') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv1_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= t('.adv2') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv2_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= t('.adv3') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv3_details') + '</ul>') %>
  </li>	
  
  <li>
  	<strong><%= t('.adv4') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv4_details') + '</ul>') %>
  </li>  
</ul>

<% insert_back_next_buttons(echocracy_path, echocracy_path(:scientists)) %>