<% content_for :tabContainer do %>
  <%= tabnav 'static_echocracy' %>
<% end %>

<% insert_breadcrumb(echocracy_path, echocracy_path(:decision_makers), '.title_long') %>

<%=  I18n.t('static.echocracy.decision_makers.text_top') %>

<ul class="benefitList">
  <li>
  	<strong><%=  I18n.t('static.echocracy.decision_makers.adv1') %></strong>
	<% insert_toggle_more('<ul>' + I18n.t('static.echocracy.decision_makers.adv1_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= I18n.t('static.echocracy.decision_makers.adv2') %></strong>
	<% insert_toggle_more('<ul>' + I18n.t('static.echocracy.decision_makers.adv2_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= I18n.t('static.echocracy.decision_makers.adv3') %></strong>
	<% insert_toggle_more('<ul>' + I18n.t('static.echocracy.decision_makers.adv3_details') + '</ul>') %>
  </li>	
</ul>

<% insert_back_next_buttons(echocracy_path(:scientists), echocracy_path(:organisations)) %>