
<div class="form_container">
  <span class="label"><%= I18n.t("users.concernments.sorts.#{name}") %></span>
  <% form_tag url_for(:controller => "users/concernments", :action => "create"), :id => "new_concernment_#{sort}" do -%>
    <%= text_field :tag, :value, :class => 'tag_value_autocomplete', :id => "tag_#{sort}_id" %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= hidden_field_tag :sort, sort %>
    <%= submit_tag I18n.t('application.general.create'), :class => 'text_button add_button', :id => "add_tag_#{sort}" %>
  <% end %>
</div>

<div id="concernments_<%= sort %>" class="tag_container">
  <%= render :partial => 'users/concernments/concernment', :collection => concernments %>
</div>

<script type="text/javascript">
  $("#new_concernment_<%= sort %>").ajaxForm({ dataType: 'script' }); 
</script>
