<div id="concernments_<%= sort %>" style="clear: both;">
  <%= render concernments %>
</div>

<% form_remote_tag :url => url_for(:controller => "concernments", :action => "create"), :html => { :id => "new_concernment_#{sort}" } do -%>
  <%= text_field :tag, :value, :class => 'tag_value_autocomplete' %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= hidden_field_tag :sort, sort %>
  <%= submit_tag 'plus' %>
<% end %>
