<h1>Listing concernments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tag</th>
    <th>Sort</th>
  </tr>

<% @concernments.each do |concernment| %>
  <tr>
    <td><%=h concernment.user_id %></td>
    <td><%=h concernment.tag_id %></td>
    <td><%=h concernment.sort %></td>
    <td><%= link_to 'Show', concernment %></td>
    <td><%= link_to 'Edit', edit_concernment_path(concernment) %></td>
    <td><%= link_to 'Destroy', concernment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New concernment', new_concernment_path %>