<p>
  <b>User:</b>
  <%=h @concernment.user_id %>
</p>

<p>
  <b>Tag:</b>
  <%=h @concernment.tag_id %>
</p>

<p>
  <b>Sort:</b>
  <%=h @concernment.sort %>
</p>


<%= link_to 'Edit', edit_concernment_path(@concernment) %> |
<%= link_to 'Back', concernments_path %>