<% statement ||= @statement %>

<div id="<%= statement_dom_id(statement) %>" class="<%=statement.parent.class.name.downcase%>">
  <%= statement_icon(statement,:small) %>
  <%= link_to(statement.title, url_for(statement), :class => 'ajax') %>
  <%= supporter_ratio_bar(statement) %>
  <%=statement_child_line(statement)%>
</div>
