<% statement ||= @statement %>
<div id="<%=statement.parent.class.name.downcase%>_<%=statement.id%>" class="<%=statement.parent.class.name.downcase%>">
  <%=statement_icon(statement,:small)%><%=link_to(statement.title,url_for(statement))%>
</div>
