<% statement ||= @statement
%>

<% case statement.level
     when 0
%>
  <h1 class="root"><%= statement_context_line(statement)%></h1>
<%   when 1 %>
  <h1 class="root"><%= statement_context_line(statement.parent)%></h1>
  <h1 class="intermediate"><%= statement_context_line(statement)%></h1>
<%   when 2 %>
  <h1 class="root"><%= statement_context_line(statement.root)%></h1>
  <h1 class="intermediate"><%= statement_context_line(statement.parent)%></h1>
  <h1 class="bottom"><%= statement_context_line(statement)%></h1>
<% end %>
