<% statement ||= @statement -%>

<div id="summary" class="summary header_block">
  <h2><%= statement.class.display_name %> Summary</h2>

  <% semantic_form_for statement do |form| %>

    <% form.inputs :for => [ :document, statement.document ] do |document_form| %>
      <%= document_form.input :title %>
      <%= document_form.input :text, :as => :text %>
    <% end %>

    <% form.inputs do %>
      <%= form.input :activated %>
    <% end %>

    <% form.buttons do %>
      <%= form.commit_button I18n.t('application.general.save'), :button_html => { :alt => 'save_button' } %>
      <%= I18n.t('application.general.or') %>
      <%= link_to I18n.t('application.general.cancel'), url_for(statement), :class => 'ajax' %>
    <% end %>

  <% end %>

</div>

<script type="text/javascript">
  $('#edit_<%= dom_id(statement) %>').ajaxForm({ dataType : 'script' });
</script>
