<% semantic_form_for statement.self_with_parents do |form| -%>
  <%= form.error_messages %>
  <%= render :partial => "statements/document_form", :locals => { :form => form, :statement => statement } %>
  <% #FIXME: i don't know how to do this manually with formtastics. enums are not really supported by rails, and everywhere else where we use enum like statefulness in models, views do it like this %>
  <% form.inputs do %>
    <li id="question_state_input" class="select optional error">
      <%= form.label :state %>
      <%= form.select :state, Statement.states.collect { |k,v| [v,k] }, { :selected => form.object.state } %>
    </li>
  <% end %>
  <%= form.hidden_field :parent_id %>
  <%= form.hidden_field :category_id %>
  <br />
  <%= form.submit I18n.t('application.general.save'), :id => 'save_button' %>
  <%= I18n.t('application.general.or') %>
  <%= link_to I18n.t('application.general.cancel'), statement.parent or discuss_url %>
<% end -%>
