<% content_for :submenu, tabnav(:discuss) %>

<%= render :partial => 'statements/context', :locals => {:statement => @statement} %>
<%= render :partial => 'statements/sidebar', :locals => {:statement => @statement}%>
<%= render :partial => 'statements/summary', :locals => {:statement => @statement} %>
<%= render :partial => 'statements/children', :locals => {:statements => @statements, :statement => @statement } %>

<div id="new_statement" class="discuss_right_block">
  <%= create_children_statement_link(@statement) %>
</div>

<script type="text/javascript">
  makeRatiobars();
</script>
