<% content_for :submenu, tabnav(:discuss) %>

<%= render :partial => 'statements/context', :locals => {:statement => @statement} %>

<%= render :partial => 'statements/sidebar', :locals => {:statement => @statement}%>

<%= render :partial => 'statements/summary', :locals => {:statement => @statement} %>

<%= render :partial => 'statements/children', :locals => {:statements => @children, :statement => @statement } %>

<% if false %>
<div id="new_container">
  <a href="#" onclick="$(this).next().animate(toggleParams, 300);">toggle</a>
  <%= render :partial => 'statements/new', :locales => {} %>
</div>
<% end %>

<script type="text/javascript">
  makeRatiobars();
  makeTooltips();
</script>
