/* Show a statement through changing the parts of the page with the corresponding partials. */

<% if defined? @info %>
  info('<%= @info %>');
<% end %>


var context  = "<%= escape_javascript(render :partial => 'statements/context') %>";
var sidebar  = "<%= escape_javascript(render :partial => 'statements/sidebar') %>";
var summary  = "<%= escape_javascript(render :partial => 'statements/summary') %>";
var children = "<%= escape_javascript(render :partial => 'statements/children') %>";


$('#context').replaceWith(context);
$('#discuss_sidebar').replaceWith(sidebar);
$('#summary').replaceWith(summary);
if($('#children').size() == 0)
  $('<div id="children"></div>').insertAfter('#summary');
$('#children').replaceWith(children);
if($('#new_statement').size() != 0)
  $('#new_statement').remove();

makeRatiobars();
makeTooltips();
