<% content_for :submenu, tabnav(:my_echo) %>

<h1><%= I18n.t('welcome.title') %></h1>

<%= I18n.t('welcome.text') %><br/>

<%= render :partial => 'my_profile' %>

<div class="function_button_holder">
  <%= link_to('<span class="function_button function_button_connect"></span>', {:url => connect_path}, :href => connect_path) %>
  <span class="function_name"><%= I18n.t('welcome.function_2.name') %></span><br/>
  <span class="function_description"><%= I18n.t('welcome.function_2.description') %></span>
</div>

<div class="function_button_holder">
  <%= link_to('<span class="function_button function_button_discuss"></span>', {:url => discuss_path}, :href => discuss_path) %>
  <span class="function_name"><%= I18n.t('welcome.function_3.name') %></span><br/>
  <span class="function_description"><%= I18n.t('welcome.function_3.description') %></span>
</div>

