<% content_for :submenu, tabnav(:my_echo) %>

<h1><%= I18n.t('welcome.title') %></h1>

<%= I18n.t('welcome.text') %><br/>

<div class="function_button_holder">
  <%= link_to('<span class="function_button function_button_my_profile"></span>', {:url => my_profile_path}, :href => my_profile_path) %>
  <span class="function_name"><%= I18n.t('welcome.function_1.name') %></span><br/>
  <span class="function_description"><%= I18n.t('welcome.function_1.description') %></span>
</div>

<div class="function_button_holder">
  <%= link_to('<span class="function_button function_button_connect"></span>', {:url => connect_path}, :href => connect_path) %>
  <span class="function_name"><%= I18n.t('welcome.function_2.name') %></span><br/>
  <span class="function_description"><%= I18n.t('welcome.function_2.description') %></span>
</div>

