<h2>Change my password</h2>

<% form_for @user, :url => profile_path, :html => { :id => 'new_password' } do |f| %>

  <ul>
    <li>
      <span>
        <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
      </span>
      <%= f.password_field :password %>
    </li>

    <li>
      <span>
        <%= f.label :password_confirmation %>
      </span>
      <%= f.password_field :password_confirmation %>
    </li>

  </ul>

  <%= f.submit "Update", :class => 'submit_button' %>

<% end %>

<script type="text/javascript">
  $("#new_password").ajaxForm({ 
    dataType: 'script',
    success: function() {
      info('Password changed!');
      $("#new_password").reset();
    }
  }); 
</script>

