<h2>Edit My Account</h2>

<% form_for @user, :url => profile_path, :html => { :multipart => true } do |f| %>

  <ul>
    <li>
      <span>
        <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
      </span>
      <%= f.password_field :password %>
    </li>

    <li>
      <span>
        <%= f.label :password_confirmation %>
      </span>
      <%= f.password_field :password_confirmation %>
    </li>
  </ul>

  <%= f.submit "Update", :class => 'submitButton' %>

<% end %>
