<h2><%= I18n.t('users.profile.password.heading') %></h2>

<% form_for @user, :url => @profile, :html => { :id => 'new_password' } do |f| %>

  <ul>
    <li>
      <span>
        <%= f.label I18n.t('application.general.password'), f.object.new_record? ? nil : I18n.t('users.profile.password.new') %>
      </span>
      <%= f.password_field :password %>
    </li>

    <li>
      <span>
        <%= f.label I18n.t('users.profile.password.confirm') %>
      </span>
      <%= f.password_field :password_confirmation %>
    </li>

  </ul>

  <%= f.submit I18n.t('application.general.save'), :class => 'submit_button', :alt => 'submit_button' %>

<% end %>

<script type="text/javascript">
  $("#new_password").ajaxForm({ 
    dataType: 'script',
    success: function() {
      info('Password changed!');
      $("#new_password").reset();
    }
  }); 
</script>

