<h2>Personal Information</h2> (<%= link_to I18n.t('application.general.edit'), edit_profile_path, :class => 'ajax' %>)


<div class="comment">
  These are your profile information. Use the edit button to update them,
  change your password or set a new image.
</div>

<ul>
  <li>
    <span class="title">Name</span>
    <%=h @user.full_name %>
  </li>
  <li>
    <span class="title">Gender</span>
    <%=h @user.get_gender %>
  </li>
  <li>
    <span class="title">Country, City</span>
    <%=h @user.city %> <%=h @user.country %>
  </li>
  <li>
    <span class="title">About me</span>
    <%=h @user.about_me %>
  </li>
  <li>
    <span class="title">Motivation</span>
    <%=h @user.motivation %>
  </li>
</ul>
