<div id="personal_container" class="details_container">
  <h2><%= I18n.t('users.profile.heading') %></h2> 
  (<%= link_to I18n.t('application.general.edit'), edit_profile_path, :class => 'ajax edit_link' %>)

  <div class="comment">
    <%= I18n.t('users.profile.comment') %>
  </div>

  <ul>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.first_name') %></span>
      <%=h @user.first_name %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.last_name') %></span>
      <%=h @user.last_name %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.gender') %></span>
      <%=h @user.human_gender %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.city') %></span>
      <%=h @user.city %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.country') %></span>
      <%=h @user.country %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.about_me') %></span>
      <%=h @user.about_me %>
    </li>
    <li>
      <span class="title"><%= I18n.t('activerecord.attributes.user.motivation') %></span>
      <%=h @user.motivation %>
    </li>
  </ul>  
</div>

