<div id="personal_container" class="details_container">
  <h2><%= I18n.t('users.profile.heading') %></h2> 
  (<%= link_to I18n.t('application.general.edit'), edit_profile_path, :class => 'ajax edit_link' %>)

  <div class="comment">
    <%= I18n.t('users.profile.comment') %>
  </div>

  <ul>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:first_name) %></span>
      <%=h @profile.first_name %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:last_name) %></span>
      <%=h @profile.last_name %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:gender) %></span>
      <%=h @profile.localized_gender %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:city) %></span>
      <%=h @profile.city %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:country) %></span>
      <%=h @profile.country %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:about_me) %></span>
      <%=h @profile.about_me %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:motivation) %></span>
      <%=h @profile.motivation %>
    </li>
  </ul>  
</div>

