<% # Show profile details at the my_profile area in my_echo.
%>
<div id="personal_container" class="header_block two_columns_block">
  <h2><%= I18n.t('users.profile.title') %><span class="completeness"></span></h2>
  
  <%= link_to I18n.t('application.general.edit'), edit_profile_path(@profile), :class => 'ajax header_button text_button edit_button' %>

  <div class="guide">
    <%= I18n.t('users.profile.guide') %>
  </div>

  <ul>
    <li>
      <span class="label"><%= Profile.human_attribute_name(:full_name) %></span>
      <span class="value"><%=h @profile.full_name %></span>
    </li><br/>
    <li>
      <span class="label"><%= Profile.human_attribute_name(:gender) %></span>
      <% unless @profile.localized_gender.empty? %>
        <span class="value"><%=h @profile.localized_gender %></span>
      <% else %>
        <br/>
      <% end %>
    </li>
    <li>
      <span class="label"><%= Profile.human_attribute_name(:location) %></span>
      <span class="value"><%=h @profile.location %></span>
    </li>
    <li>
      <span class="label"><%= Profile.human_attribute_name(:about_me) %></span>
      <span class="value"><%=h @profile.about_me %></span>
    </li>
    <li>
      <span class="label"><%= Profile.human_attribute_name(:motivation) %></span>
      <span class="value"><%=h @profile.motivation %></span>
    </li>
  </ul>
</div>
