<% @profile = profile if defined?(profile) %>

<div id="title" class="title ui-corner-all">
  <span><%=h @profile.full_name %></span>
  <% link_to '#', :onclick => "$('#profile_details_container').hide(); return false;", :class => 'close_link' do %>
    <span>close</span>
  <% end %>
</div>


<div style="float:left;">
  <% link_to @profile, :class => 'ajax show_link' do %>
    <%= image_tag @profile.avatar.url(:small) %>
  <% end %>
</div>

<div id="tabs" style="float:left; width:350px;">
  <ul>
    <li><a href="#tab1">Nunc</a></li>
    <li><a href="#tab2">Nunc</a></li>
    <li><a href="#tab3">Nunc</a></li>
  </ul>

  <div id="tab1">
    <%=h @profile.user.email %>      <br/>
    <%=h @profile.city %>       <br/>
    <%=h @profile.country %>    <br/>
    <%=h @profile.about_me %>   <br/>
    <%=h @profile.motivation %> <br/>
  </div>

  <div id="tab2">
    <%= render @profile.concernments %>
  </div>

  <div id="tab3">
    <% for web_profile in @profile.web_profiles do %>
      <%= web_profile.location %><br/>
    <% end %>
  </div>

</div>

<div style="clear:both;display:block;">
  <%= link_to 'Show', url_for(:controller => 'users/profile', :action => 'details', :id => @profile), :class => 'ajax show_link' %>
  <%= link_to 'Report', url_for(:controller => 'users/reports', :action => 'new', :id => @profile.user), :class => 'ajax report_link' %>
  <% if show_admin_options? %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to 'Destroy', @profile.user, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>

<script type="text/javascript">
  $('#tabs').tabs();
</script>
