<% @profile = profile if defined?(profile) %>

<div id="title" class="title ui-corner-all">
  <span></span>
  <% link_to '#', :onclick => "$('#profile_details_container').hide(); return false;", :class => 'close_link' do %>
    <span>close</span>
  <% end %>
</div>




<div id="tabs" style="float:left; width:650px;">
  <ul>
    <li><span style="color:#f99;"><%=h @profile.full_name %></li>
    <li><a href="#tab1">Overview</a></li>
    <li><a href="#tab2">Competence?</a></li>
    <li><a href="#tab3">Network</a></li>
  </ul>

  <div style="float:left; max-width:100px;">
    <%= image_tag @profile.avatar.url(:small) %><br/>
    <%=h @profile.location %>
  </div>

  <div id="tab1" style="float:left; max-width:300px; -moz-border-radius:5px; border:1px solid #999;">
    <%=h @profile.full_name %>       <br/>
    <%=h @profile.location %>        <br/>
    <%=h @profile.localized_gender %><br/>
    <%=h @profile.about_me %>        <br/>
    <%=h @profile.motivation %>      <br/>
    <%= render @profile.memberships %>
  </div>

  <div id="tab2" style="float:left; max-width:300px; -moz-border-radius:5px; border:1px solid #999;">
    <% Concernment.sorts.each do |sort, name| %>
      <h2><%= name %></h2>
      <div id="concernments_<%= sort %>" style="clear: both;">
        <%= render :partial => 'users/concernments/concernment', :collection => @profile.concernments.find_all_by_sort(sort) %>
      </div>
    <% end %>
  </div>

  <div id="tab3">
    <% for web_profile in @profile.web_profiles do %>
      <%= web_profile.location %><br/>
    <% end %>
  </div>

</div>

<div style="clear:both;display:block;">
  <%= link_to 'Report', url_for(:controller => 'users/reports', :action => 'new', :id => @profile.user), :class => 'ajax report_link' %>
  <% if show_admin_options? %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to 'Destroy', @profile.user, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>

<script type="text/javascript">
  $('#tabs').tabs();
</script>
