<% # Show profile details at the my_profile area in my_echo.
%>

<div id="personal_container" class="header_block">
  <h2><%= I18n.t('users.profile.title') %></h2>
  
  (<%= link_to I18n.t('application.general.edit'), edit_profile_path(@profile), :class => 'ajax edit_link' %>)

  <div class="guide">
    <%= I18n.t('users.profile.guide') %>
  </div>

  <ul>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:first_name) %></span>
      <%=h @profile.first_name %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:last_name) %></span>
      <%=h @profile.last_name %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:gender) %></span>
      <%=h @profile.localized_gender %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:country) %></span>
      <%=h @profile.country %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:city) %></span>
      <%=h @profile.city %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:about_me) %></span>
      <%=h @profile.about_me %>
    </li>
    <li>
      <span class="title"><%= Profile.human_attribute_name(:motivation) %></span>
      <%=h @profile.motivation %>
    </li>
  </ul>
</div>
