<%# Shows the form for uploading a new user picture, ajaxifys it and shows a
  # progress indicator. 
%>

<%= I18n.t('users.profile.upload_picture.comment') %>

<% semantic_form_for @profile, :url => profile_path, :html => { :multipart => true, :id => 'upload_picture_form' } do |form| %>
  <% form.inputs do %>
    <%= form.input :avatar %>
  <% end %>
<% end %>

<div id="uploading_progress" style="display:none;">
  <%= I18n.t('users.profile.upload_picture.progress') %> <%= image_tag 'indicator.gif' %>
</div>

<script type="text/javascript">
  /* Hijack the submit function of the upload picture form. Add some callbacks:
   *   beforeSend: show progress indicator.
   *   complete:   hide progress indicator.
   *   success:    reload all pictures through ajax and close dialog.
   * Return false to stop normal http processing. */
  $('#upload_picture_form').submit(function() {
    $(this).ajaxSubmit({
      beforeSend: function() { $('#uploading_progress').show(); },
      complete:   function() { $('#uploading_progress').hide(); },
      success:    function(data, status) {
        $.ajax({type:'get', dataType: 'script', url:"<%= url_for(:controller => 'users/profile', :action => 'reload_pictures') %>"});
        $('#dialogContent').dialog('close');
      }
    });
    return false;
  });
</script>
