<%= tabnav :my_echo %>

<%= render :partial => 'personal_information' %>

<%= render :partial => 'picture' %>

<%= render :partial => 'users/memberships/container' %>

<!-- Web profiles section. -->
<%= render :partial => 'users/web_profiles/container' %>

<!-- Update password section. -->
<div id="password_container" class="details_container">
  <%= render :partial => 'password' %>
</div>

<!-- Concernment section. -->
<%= render :partial => 'users/concernments/container' %>
