<div class="headContainer">
  <h1>my echo</h1>
</div>

<div id="personal" class="detailsContainer">

  <%= render :partial => 'personal_information' %>
  
</div>

<div id='picture' class="detailsContainer">
  <h2>Picture upload</h2>
  <%= image_tag @user.picture.url(:small) %>
  <% form_for @user, :url => profile_path, :html => { :multipart => true } do |f| %>
    <%= f.file_field :picture %><br/>
    <%= f.submit "Upload" %>
  <% end %>
</div>



<div id="activities" class="detailsContainer">
  <h2>Memberships</h2>
  <div class="comment">
    Some text to descripe like: Enter your activities and competences here.
  </div>

  <ul id="membershipList">
    <li><span>Organisation</span><span>Position</span></li>
    <%= render @user.memberships %>
  </ul>
  <ul>
    <%= render :partial => 'users/memberships/new' %>
  </ul>
</div>

<!-- Web profiles section. -->
<div id="webProfiles" class="detailsContainer">

  <h2>web profiles</h2>
  <div class="comment">
    TEXT! You are able to set some contact details, so you can be reached through all those fine communication ways.
  </div>

  <ul id="webProfileList">
    <%= render @user.web_profiles %>
  </ul>
  <ul>
    <%= render :partial => 'users/web_profiles/new' %>
  </ul>

</div>

<!-- Update password section. -->
<div id="password" class="detailsContainer">
  <%= render :partial => 'password' %>
</div>


<!-- Concernment section. -->
<div id="concernments" class="detailsContainer">

  <% concernments = @user.concernments %>

  <% for sort in Concernment.sorts do %>
  
    <h2><%= sort[1] %></h2>
    <%= render :partial => 'users/concernments/list', :locals => { :concernments => concernments.find_all_by_sort(sort[0]), :sort => sort[0] } %><br/>
      
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".tag_value_autocomplete").autocomplete("users/concernments/auto_complete_for_tag_value")
    });
  </script>

</div>