<% content_for :tabContainer do %>
  <%= tabnav 'static_echo' %>
<% end %>

<% insert_breadcrumb(echo_path, echo_path) %>

<h3><%= I18n.t('static.echo.show.why.title') %></h3>
<%= I18n.t('static.echo.show.why.text', :tooltip => I18n.t('static.echo.show.why.tooltip')) %>

<h3><%= I18n.t('static.echo.show.what.title') %></h3>
<%= I18n.t('static.echo.show.what.text',
  :tooltip1 => I18n.t('static.echo.show.what.tooltip1'),
  :tooltip2 => I18n.t('static.echo.show.what.tooltip2')) %>


<% insert_illustrations([echo_path(:discuss),
                         echo_path(:connect),
                         echo_path(:act),
                         echo_path(:echo_on_waves)]) %>

<% insert_back_next_buttons(echologic_path, echo_path(:discuss)) %>