<h1>Editing tag</h1>

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>