<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<% insert_breadcrumb(echo_path, echo_path) %>

<h3><%= t('.why.title') %></h3>
<%= t('.why.text', :tooltip => t('.why.tooltip')) %>
<!--<%= t('.why.text_more', :tooltip => t('.why.tooltip')) %>
<% insert_toggle_more(t('.why.text_more', :tooltip => t('.why.tooltip'))) %>-->

<h3><%= t('.what.title') %></h3>
<%= t('.what.text', :tooltip1 => t('.what.tooltip1'), :tooltip2 => t('.what.tooltip2')) %>


<% insert_illustrations([echo_discuss_path, 
                         echo_connect_path,
                         echo_act_path,
                         echo_echo_on_waves_path]) %>

<% insert_back_next_buttons(echologic_path, echo_discuss_path) %>

<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>