<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<h2><%= t('.why.title') %></h2>
<%= t('.why.text') %>
<% insert_toggle_more(t('.why.text_more', :tooltip => t('.why.tooltip'))) %>

<h2><%= t('.what.title') %></h2>
<p><%= t('.what.text', :tooltip1 => t('.what.tooltip1'), :tooltip2 => t('.what.tooltip2')) %></p>

<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>