<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<h2><%= t('.why.title') %></h2>
<p><%= t('.why.text', :tooltip => t('.why.tooltip')) %></p>

<h2><%= t('.what.title') %></h2>
<p><%= t('.what.text', :tooltip1 => t('.what.tooltip1'), :tooltip2 => t('.what.tooltip2')) %></p>

<script type="text/javascript" charset="utf-8">
	$$(".ttLink").each( function(link) {
		new Tooltip(link, {backgroundColor: "#7ab031", opacity: 1, borderColor: "#7ab031", textColor: "#fff", textShadowColor: "#7ab031", delay: "100"});   
  });
</script>