<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<span id="echoTeaser"><%= t('.teaser') %></span>

<div id="echoHeader">
  <div id=echoLogo><%= image_tag('page/echo_logo.png') %></div>
  <div id=headerGlue><%= t('.header1') %></div>
  <div id=headerMessage><%= t('.header2') %></div>
</div>

<%= t('.teaser_more') %>

<div>
  <%= link_to_remote('<div id="echologicActionPic"></div>', {:url => echo_path}, :href => echo_path) %>
  <span id="echologicActionCall"><%= t('.action') %></span>	
</div>


<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>
