<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echocracy' %>
<% end %>

<% insert_breadcrumb(echocracy_path, '.title_long') %>

<p><%= t('.text_top') %></p>

<ul class="benefitList">
  <li>
  	<strong><%= t('.adv1') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv1_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= t('.adv2') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv2_details') + '</ul>') %>
  </li>
  
  <li>
  	<strong><%= t('.adv3') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv3_details') + '</ul>') %>
  </li>	
</ul>

<% insert_back_next_buttons(echocracy_scientists_path, echocracy_organisations_path) %>