<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<%= t('.teaser') %>
<% insert_toggle_more(t('.teaser_more')) %>

<p>
  <%= link_to_remote('<div id="echologicActionPic"></div>', {:url => echo_path}, :href => echo_path) %>
  <span id="echologicActionCall"><%= t('.action') %></span>	
</p>


<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>
