<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echocracy' %>
<% end %>

<h1><%= t('static_content.echocracy.title') %></h1>
<h4><%= t('.title_long') %></h4>

<p><%= t('.text_top') %></p>

<ul class="benefitList">
  <li>
  	<strong><%= t('.adv1') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv1_details') + '</ul>', 'hide2') %>
  </li>
  
  <li>
  	<strong><%= t('.adv2') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv2_details') + '</ul>', 'hide3') %>
  </li>
  
  <li>
  	<strong><%= t('.adv3') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv3_details') + '</ul>', 'hide4') %>
  </li>	
  
  <li>
  	<strong><%= t('.adv4') %></strong>
	<% insert_toggle_more('<ul>' + t('.adv4_details') + '</ul>', 'hide5') %>
  </li>  
</ul>

<% insert_back_next_buttons(echocracy_decision_makers_path, echonomy_path) %>