<!--<%= insert_breadcrump %>-->

<h1><%= t('.title') %></h1>

<p><%= t('.aid') %></p>

<p>
  <%= t('.action1') %><br/>
  <%= t('.action2') %><br/>
  <%= t('.action3') %>
</p>

<!-- wenn wir's so machen: JS in helper auslagern! - Nur ein Beispiel hier! -->
<span class='moreButton' onclick="Effect.toggle('example', 'slide',{duration:0.5}); if(this.innerHTML=='more') {this.innerHTML='hide'} else {this.innerHTML='more'}">more</span> 

<div id='example' style='display: none;''>
  <p class='moreContent'><%= t('.aid') %></p>
</div>