<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echocracy' %>
<% end %>

<% insert_breadcrumb(echocracy_path, echocracy_citizens_path, '.title_long') %>

<%= t('.text_top') %>

<ul class="benefitList">
  <li>
  	<%= t('.adv1') %>
  </li>
  
  <li>
  	<%= t('.adv2') %>
	<% insert_toggle_more('<ul>' + t('.adv2_details') + '</ul>') %>
  </li>
  
  <li>
  	<%= t('.adv34') %>
  </li>	
</ul>

<% insert_back_next_buttons(echocracy_path, echocracy_scientists_path) %>