<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<h1><%= t('static_content.echo.title') %></h1>
<h4><%= t('.title') %></h4>

<p><%= t('.text') %></p>

<ul class="spreadedList">
  <li>
    <strong><%= t('.clarity') %></strong>
    <% insert_toggle_more(t('.clarity_more'), 'hide1') %>
  </li>
  
  <li>
    <strong><%= t('.transparency') %></strong>
    <% insert_toggle_more(t('.transparency_more'), 'hide2') %>
  </li>
  
  <li>
    <strong><%= t('.detailed') %></strong>
    <% insert_toggle_more(t('.detailed_more'), 'hide3') %>
  </li>
  
  <li>
    <strong><%= t('.democratic') %></strong>
    <% insert_toggle_more(t('.democratic_more', :tooltip => t('.democratic_tooltip')), 'hide4') %>
  </li>
  
  <li>
    <strong><%= t('.glocal') %></strong>
    <% insert_toggle_more(t('.glocal_more'), 'hide5') %>
  </li>  
</ul>

<% insert_back_next_buttons(echo_path, echo_connect_path) %>

<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>



