<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echonomy' %>
<% end %>

<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<p><%= t('.text_top') %></p>

<ul><%= t('.list') %></ul>

<p><%= t('.text_bottom') %></p>

<% insert_back_next_buttons(echocracy_organisations_path, echonomy_your_profit_path) %>