<div id="staticMenu">
  
  <div class="staticMenuButton">
    <div class="staticMenuButtonImage">
      <%= image_tag 'page/staticMenu/sidemenuicon_mission_off.png' %> 
      <%= link_to 'echologic - The Mission', echologic_path %>
    </div>
    <div>
      
    </div>
  </div>
  
  <div class="staticMenuButton">
    <div class="staticMenuButtonImage">
      <%= image_tag 'page/staticMenu/sidemenuicon_platform_off.png' %>
    </div>
    <div>
      <%= link_to 'echo - The Platform', echo_path %>
    </div>
  </div>
  
  <div class="staticMenuButton">
    <div class="staticMenuButtonImage">
      <%= image_tag 'page/staticMenu/sidemenuicon_actors_off.png' %>
    </div>
    <div>
      <%= link_to 'echocracy - The Actors', echocracy_path %>
    </div>
  </div>
  
  
  <div class="staticMenuButton">
    <div class="staticMenuButtonImage">
      <%= image_tag 'page/staticMenu/sidemenuicon_philosophy_off.png' %>
    </div>
    <div>
      <%= link_to 'echonomy - Your Profit', echonomy_path %>
    </div>
  </div>
  
  <script language="javascript" type="text/javascript">
    var border = RUZEE.ShadedBorder.create({ corner:10, border:1 });
    border.render($$('#staticMenu .staticMenuButton'));
  </script>
  
</div>
