<div style="float:right;">
  <div id="staticMenuButton">
    <%= image_tag 'page/staticMenu/sidemenuicon_mission_off.png' %>
    <%= link_to 'echologic - The Mission', echologic_path %>
  </div>
  <%= link_to 'echologic - The Mission', echologic_path %><br/>
  <%= link_to 'echo - The Platform', echo_path %><br/>
  <%= link_to 'echocracy - The Actors', echocracy_path %><br/>
  <%= link_to 'echonomy - Your Profit', echonomy_path %>
</div>
