<div id="staticMenu">

  <a class="staticMenuButton" href="<%= echologic_path %>">
    <%= image_tag "page/staticMenu/sidemenuicon_mission_off.png" %>
    <span class="staticMenuButtonTitle">echologic</span><br/>
    <span class="staticMenuButtonSubtitle">The Mission</span>
  </a>

  <a class="staticMenuButton" href="<%= echo_path %>">
    <%= image_tag "page/staticMenu/sidemenuicon_platform_off.png" %>
    <span class="staticMenuButtonTitle">echo</span><br/>
    <span class="staticMenuButtonSubtitle">The Platform</span>
  </a>

  <a class="staticMenuButton" href="<%= echocracy_path %>">
    <%= image_tag "page/staticMenu/sidemenuicon_actors_off.png" %>
    <span class="staticMenuButtonTitle">echocracy</span><br/>
    <span class="staticMenuButtonSubtitle">The Actors</span>
  </a>

  <a class="staticMenuButton" href="<%= echonomy_path %>">
    <%= image_tag "page/staticMenu/sidemenuicon_philosophy_off.png" %>
    <span class="staticMenuButtonTitle">echonomy</span><br/>
    <span class="staticMenuButtonSubtitle">The Philosophy</span>
  </a>
  
  <a class="staticMenuButton" href="join">
    <%= image_tag "page/staticMenu/sidemenuicon_join_off.png" %>
    <span class="staticMenuButtonTitle">my echo</span><br/>
    <span class="staticMenuButtonSubtitle">Join echo!</span>
  </a>  
  
</div>
