<div id="staticMenu">
  
  <%= insert_static_menu_button(echologic_path) %>

  <%= insert_static_menu_button(echo_path) %>

  <%= insert_static_menu_button(echocracy_path) %>

  <%= insert_static_menu_button(echonomy_path) %>
  
  <a class="staticMenuButton" href="join">
    <%= image_tag insert_static_menu_image('join') %>
    <span class="staticMenuButtonTitle">my echo</span><br/>
    <span class="staticMenuButtonSubtitle">Join echo!</span>
  </a>

</div>
