<div id="echologicContainer">
  
  <%= render :partial => "menu" %>
  
  <div style="float:left;">
    <h1><%= t('.title') + " - " + t('.subtitle') %></h1>
    <ul>
      <li><%= link_to t('static_content.echo_discuss.title'), :action => "echo_discuss" %></li>
      <li><%= link_to t('static_content.echo_connect.title'), :action => "echo_connect" %></li>
      <li><%= link_to t('static_content.echo_act.title'), :action => "echo_act" %></li>
    </ul>
  </div>
</div>

<script language="javascript" type="text/javascript">
  var border = RUZEE.ShadedBorder.create({ corner:14, shadow:30, border:1 });
  border.render('echologicContainer');
</script>

