<div class="tabContainer">
  <%= insert_tab(:Citizens, echocracy_citizens_path) %>
  <%= insert_tab(:Experts, echocracy_experts_path) %>
  <%= insert_tab(:Organisations, echocracy_orgas_path) %>
</div>



<div class="testContainer">

  <%= insert_rounded_box_top %>
    <div class="boxContent" id="echocracyContainer">
      
      <%= render :partial => "menu" %>
      
      <%= insert_content %>
  
    </div>
  <%= insert_rounded_box_bottom%>
</div>
