<div class="tabContainer">
  <%= insert_tab(:Citizens, echocracy_citizens_path) %>
  <%= insert_tab(:Experts, echocracy_experts_path) %>
  <%= insert_tab(:Organisations, echocracy_orgas_path) %>
</div>

<div class="testContainer">
  <div class="testContainerTop">
    <div class="boxLeft"></div>
    <div class="boxRight"></div>
  </div>
  <div class="testContainerMiddle">
    <div class="testContainerLeft"></div>
    <div class="testContainerContent" id="echocracyContainer">
      
  <%= render :partial => "menu" %>
  
  <%= insert_content %>
  
    </div>
    <div class="testContainerRight"></div>    
  </div>
  <div class="testContainerBottom">
    <div class="boxLeft"></div>
    <div class="boxRight"></div>
  </div>  
</div>
