<div id="echologicPromoContainer">
  <div id="statementContainer">
    <%= insert_rounded_box_top %>
      <div id="statement">
        <%= image_tag 'page/statement_claim.png' %>
      </div>
    <%= insert_rounded_box_bottom %>
  </div>
  <div id="videoContainer">
    <%= insert_rounded_box_top %>
    <div id="video">
      the promotion video goes here..
    </div>
    <%= insert_rounded_box_bottom %>
  </div>
</div>

<div class="mainBox">
  <%= insert_rounded_box_top %>
  <div id="echologicContainer" class="boxContent">
    <%= render :partial => "menu" %>
    <h1><%= t('.title') %></h1>
    <ul>
    	<li><%= link_to t('static_content.echo.title') + " - " + t('static_content.echo.subtitle'), :action => "echo" %></li>
    	<li><%= link_to t('static_content.echocracy.title') + " - " + t('static_content.echocracy.subtitle'), :action => "echocracy" %></li>
    	<li><%= link_to t('static_content.echonomy.title') + " - " + t('static_content.echonomy.subtitle'), :action => "echonomy" %></li>
    </ul> 
  </div>
  <%= insert_rounded_box_bottom %>
</div>