<h1>Editing report</h1>

<% form_for(@report) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reporter_id %><br />
    <%= f.text_field :reporter_id %>
  </p>
  <p>
    <%= f.label :suspect_id %><br />
    <%= f.text_field :suspect_id %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_area :reason %>
  </p>
  <p>
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </p>
  <p>
    <%= f.label :decision %><br />
    <%= f.text_area :decision %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>