<%= tabnav :admin %>

<h1>Listing reports</h1>

<div id="active_reports_container" style="width:300px; float:left; border-right:1px solid #ccc; padding-right:5px;">
  <h2>Active reports</h2>
  <i><%= @active.count %> active reports:</i>
  <ul>
    <%= render @active %>
  </ul>
</div>

<div id="done_reports_container" style="width:200px; float:left; padding-left:5px;">
  <h2>Done reports</h2>
  <i><%= @done.count %> done reports:</i>
  <ul>
    <%= render @done %>
  </ul>
</div>

<div id="profile_details_container" style="width:300px; float:right; border-left:1px dotted #ccc; padding-left:20px;">
  
</div>

