<div id="web_profile_container" class="header_block">
  <h2><%= I18n.t('users.web_profiles.title') %></h2>
  
  <div class="guide">
    <%= I18n.t('users.web_profiles.guide') %>
  </div>

  <ul id="web_profile_list">
    <li>
      <span class="column_200 label"><%= I18n.t('users.web_profiles.type') %></span>
      <span class="column_200 label"><%= I18n.t('users.web_profiles.address') %></span>
    </li>
    <%= render :partial => 'users/web_profiles/web_profile', :collection => @user.web_profiles %>
  </ul>
  <ul>
    <%= render :partial => 'users/web_profiles/new' %>
  </ul>

</div>
