<li>
  <% form_tag user_web_profiles_path(@user), :method => :post, :id => dom_class(WebProfile, :new) do -%>
      <%= select :web_profile, :sort, WebProfile.sorts %>

      <%= text_field :web_profile, :location, :value => '' %>

      <%= hidden_field :user_id, :value => @user.id %>
      <%= submit_tag 'Create', :class => 'submit_button', :id => 'new_web_profile_submit' %>
  <% end %>
</li>

<script type="text/javascript">
  $("#<%= dom_class(WebProfile, :new) %>").ajaxForm({ dataType: 'script' }); 
</script>
