<% @web_profile = web_profile if web_profile.present? %>

<li id="<%= dom_id(@web_profile) %>" >
  <span class="column_200 value"><%=h WebProfile.sorts[@web_profile.sort] %></span>
  <span class="column_200 value"><%= auto_link sanitize (@web_profile.location), :html => { :target => '_blank' } %></span>

  <%= link_to I18n.t('application.general.edit'), edit_user_web_profile_path(@web_profile.user, @web_profile), :class => "ajax text_button edit_button" %>
  <%= link_to I18n.t('application.general.delete'), user_web_profile_path(@web_profile.user, @web_profile), :class => "ajax_delete text_button delete_button" %>
</li>
