<% @web_profile = web_profile if web_profile.present? %>

<li id="<%= dom_id(@web_profile) %>" >
  <span class="title">
    <%=h @web_profile.sort %>
  </span>
  <%=h @web_profile.location %>

  <%= link_to I18n.t('application.general.edit'), edit_user_web_profile_path(@web_profile.user, @web_profile), :class => "ajax options_button" %>
  
  <%= link_to I18n.t('application.general.delete'), user_web_profile_path(@web_profile.user, @web_profile), :class => "ajax_delete options_button" %>
</li>

