<ul>

  <li id="memberships">
    <span class="label"><%= Profile.human_attribute_name(:memberships) %></span>
    <% memberships = "" %>
    <% for membership in @profile.memberships do %>
      <% memberships.concat membership.organisation %>
      <% memberships.concat ' - ' + membership.position + '<br/>' %>
    <% end %>
    <span class="value"><%= memberships %></span>
  </li>
  <br/>

  <li>
    <span class="label"><%= Profile.human_attribute_name(:about_me) %></span>
    <span class="value"><%=h @profile.about_me %></span>
  </li>

  <li>
    <span class="label"><%= Profile.human_attribute_name(:motivation) %></span>
    <span class="value"><%=h @profile.motivation %></span>
  </li>

</ul>

