<ul>

  <li id="memberships">
    <span class="label"><%= Profile.human_attribute_name(:memberships) %></span>
    <% unless @profile.memberships.blank? %>
      <% memberships = [] %>
      <% for membership in @profile.memberships do %>
        <% memberships << '<span class="membership_organisation">' + h(membership.organisation) + '</span> - ' + h(membership.position) %>
      <% end %>
      <span class="value"><%= memberships.join(', ') %></span>
    <% else %>
      <span class="value"><%= I18n.t('application.general.undefined') %></span>
    <% end %>

  </li>
  <br/>

  <li>
    <span class="label"><%= Profile.human_attribute_name(:about_me) %></span>
    <% unless @profile.about_me.blank? %>
      <span class="value"><%=h @profile.about_me %></span>
    <% else %>
      <span class="value"><%= I18n.t('application.general.undefined') %></span>
    <% end %>
  </li>

  <li>
    <span class="label"><%= Profile.human_attribute_name(:motivation) %></span>
    <% unless @profile.motivation.blank? %>
      <span class="value"><%=h @profile.motivation %></span>
    <% else %>
      <span class="value"><%= I18n.t('application.general.undefined') %></span>
    <% end %>
  </li>

</ul>

