<% @profile = profile if defined?(profile) %>

<li id="<%= dom_id(@profile) %>" class="profile">
  <span class="name"><%=h @profile.full_name %></span> <br/>
  <span class="location_orga">
    <%=h @profile.location %><br/>
    <%=h @profile.first_membership %>
  </span>

  <% link_to url_for(:controller => 'users/profile', :action => 'details', :id => @profile), :class => 'ajax show_link avatar_holder' do %>
    <%= image_tag @profile.avatar.url(:small) %>
  <% end %>

</li>
