<div id="messageContainer">
  <div id="infoBox" class="ui-state-highlight" style="display:none;">
    <div class="ui-icon ui-icon-info infoErrorIcon"></div>
    <div class="message">Message</div>
    <a class="closeButton" href="close" onclick="$('#infoBox').stop(); return false;">
      <%= I18n.t('application.general.close') %>
    </a>
  </div>
  <div id="errorBox" class="ui-state-error" style="display:none;">
    <div class="ui-icon ui-icon-alert infoErrorIcon"></div>
    <div class="message">Message</div>
    <a class="closeButton" href="close" onclick="$('#errorBox').stop(); return false;">
      <%= I18n.t('application.general.close') %>
    </a>
  </div>
</div>

<script type="text/javascript">
  <% if flash[:notice] %>
    info('<%= escape_javascript(flash[:notice]) %>');
  <% elsif flash[:error] %>
    error('<%= escape_javascript(flash[:error]) %>');
  <% end %>
</script>

<!-- noscript! -->
<noscript>
  <div id="messageContainer">
    <div id="infoBox" class="ui-state-highlight" <%= "style='display:none'" unless flash[:notice] %> >
      <div class="ui-icon ui-icon-info infoErrorIcon"></div>
      <div class="message"><%= flash[:notice] %></div>
    </div>
    <div id="errorBox" class="ui-state-error" <%= "style='display:none'" unless flash[:error] %> >
      <div class="ui-icon ui-icon-alert infoErrorIcon"></div>
      <div class="message"><%= flash[:error] %></div>
    </div>
  </div>
</noscript>

<%# Clear messages, otherwise they appear again on the next page reload.  -%>
<% flash[:notice] = flash[:error] = nil -%>
