<div id="staticMenu">

  <%= insert_static_menu_button(echologic_path) %>

  <%= insert_static_menu_button(echo_path) %>

  <%= insert_static_menu_button(echocracy_path) %>

  <%= insert_static_menu_button(echonomy_path) %>
  
  <%= insert_static_menu_button(join_path) %>

</div>
