<div id="missionStatementContainer" class="rounded-box rounded-box-green-iwot">
  <%= image_tag 'page/echologic_mission.jpg' %>
  <div id="yuccaHotspot" class="ttLink" title="<%= I18n.t('static.echologic.show.yucca') %>"></div>
  <div id="missionStatementHolder">
    <span class="ms_echologic"><%= I18n.t('static.echologic.show.ms1') %></span>
    <span class="ms_text"><%= I18n.t('static.echologic.show.ms2') %></span><br/>
    <span class="ms_echo"><%= I18n.t('static.echologic.show.ms3', :tooltip => I18n.t('static.echologic.show.agora_tooltip')) %></span>
  </div>
</div>