<div id="topMenuContainer">

  <%= link_to I18n.t('layouts.outer_menu.logout'), user_session_path, :method => :delete, :id => 'logout_button' if current_user_session %>

  <%= link_to(I18n.t('layouts.outer_menu.about'), static_path(:about), :id => 'about_echo_button', :class => 'outerMenuItem') %>

  <%= link_to(I18n.t('layouts.outer_menu.feedback'), new_feedback_path, :id => 'feedback_button', :class => 'outerMenuItem') %>

  <!-- Language choose section. -->
  <% link_to('#', :id => 'echo_language_button') do %>
     <%= I18n.t('layouts.outer_menu.language') %>
  <% end %>

  <div id="language_selector" class="rounded-box rounded-box-green-iwot" style="display:none;">
    <ul>
      <li><%= link_to("English", url_for(:controller => request[:controller], :action => request[:action], :locale => :en)) %></li>
      <li><%= link_to("Deutsch", url_for(:controller => request[:controller], :action => request[:action], :locale => :de)) %></li>
      <%=  %>
    </ul>
  </div> 
</div>
