<% content_for :tabContainer do %>
  <%= render :partial => 'join/tabs' %>
<% end %>

<%= link_to_remote("<h1 class='link'>#{t('.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= t('.subtitle') %></h2>

<%= t('join.new_invitation.text') %>

<!--<div id="invitedListHolder" style="display:none;">
  Thank you for sending an inviting e-mail to the following people:
  <ul id="invitedList">
   
  </ul>
</div>-->

<%= image_tag ('page/illustrations/invite.png', :id => 'inviteIllustration') %>

<%= render :partial => "new_invitation" %>

<div id="inviteText" class="clearLeft">
  <br/><br/>
  <%= t('maily.invitation.subject', :name => 'Laci') %>
  <br/><br/>
  <%= t('maily.invitation.body', :name => 'Laci') %>
</div>
