<% remote_form_for @invited_person,
			:before => "Element.show('invitedListHolder');",
			:update => {:success => "invitedList"},
			:position => :bottom,
			:url => { :controller => "join", :action => "create_invitation" } do |f| %>
  
  <%= f.error_messages %>

  <div class="formBlock">
    <%= f.label :name, t('.name'), :class => 'formLabel' %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="formBlock">
    <%= f.label :email, t('.email'), :class => 'formLabel' %><br/>
    <%= f.text_area :email %>
  </div>
  <div class="hint"><%= t('.email_separate') %></div>
  <br/>


  <%= f.submit '', :class => 'actionPic' %>

<% end %>

  


<span class="actionCall"><%= t('.invite_button') %></span>

<br/>
