<% content_for :tabContainer do %>
  <%= render :partial => 'join/tabs' %>
<% end %>

<%= link_to_remote("<h1 class='link'>#{t('.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= t('.subtitle') %></h2>

<%= image_tag ('page/illustrations/join.jpg', :id => 'joinIllustration') %>

<%= t('.text') %>

<% form_remote_for @interested_person, 
			:url => { :controller => "join", :action => "create_interested" } do |f| %>
  <%= f.error_messages %>
  <div class="formBlock">
    <%= f.label :name, t('.name'), :class => 'formLabel' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="formBlock">
    <%= f.label :email, t('.email'), :class => 'formLabel' %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.submit '', :class => 'actionPic' %>
<% end %>

<span class="actionCall"><%= t('.send_button') %></span>
