<% #content_for :tabContainer do %>
  <% #render :partial => 'join/tabs' %>
<% #end %>

<%= link_to_remote("<h1 class='link'>#{t('.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= t('.subtitle') %></h2>

<%= t('join.new_invitation.text') %>

<!--<div id="invitedListHolder" style="display:none;">
  Thank you for sending an inviting e-mail to the following people:
  <ul id="invitedList">
   
  </ul>
</div>-->

<%= image_tag('page/illustrations/invite.png', :id => 'inviteIllustration') %>


<% remote_form_for @invited_person,
			:before => "Element.show('invitedListHolder');",
			:update => {:success => "invitedList"},
			:position => :bottom,
			:url => { :controller => "join", :action => "create_invitation" } do |f| %>
  
  <%= f.error_messages %>

  <div class="formBlock">
    <%= f.label :name, t('.name'), :class => 'formLabel' %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="formBlock">
    <%= f.label :email, t('.email'), :class => 'formLabel' %><br/>
    <%= f.text_area :email %>
  </div>
  <div class="hint"><%= t('.email_separate') %></div>
  <br/>


  <%= f.submit '', :class => 'actionPic' %>

<% end %>

<span class="actionCall"><%= t('.invite_button') %></span>

<br/>

<div id="inviteText" class="clearLeft">
  <br/><br/>
  <%= t('maily.invitation.subject', :name => 'Laci') %>
  <br/><br/>
  <%= t('maily.invitation.body', :name => 'Laci') %>
</div>
