<h1><%= I18n.t('static.join.title') %></h1>
<h2><%= I18n.t('users.password_resets.step1') %></h2>

<p>
  <%= I18n.t('users.password_resets.step1_text') %>
</p>

<% form_tag password_resets_path, :class => 'echoForm' do %>

  <p>
    <%= label_tag I18n.t('application.general.email') %><br/>
    <%= text_field_tag "email" %>
  </p>

  <%= submit_tag I18n.t('users.password_resets.step1_mail'), :class => 'formButton200' %>
<% end %>

