<% content_for :tabContainer do %>
  <%= tabnav :static_join %>
<% end %>

<h1><%= I18n.t('static.join.title') %></h1>
<h2><%= I18n.t('users.password_reset.step2') %></h2>

<p>
  <%= I18n.t('users.password_reset.step2_text') %>
</p>

<% form_for @user, :url => password_reset_path, :method => :put, :html => {:class => 'echoForm'} do |f| %>

  <p>
    <%= f.label I18n.t('users.profile.password.new') %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label I18n.t('users.profile.password.confirm') %><br/>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit I18n.t('users.password_reset.step2_ok'), :class => 'formButton300' %>
<% end %>
