<h1><%= I18n.t('static.join.title') %></h1>
<h2><%= I18n.t('users.password_resets.step2') %></h2>

<p>
  <%= I18n.t('users.password_resets.step2_text') %>
</p>

<% form_for @user, :url => password_reset_path, :method => :put, :html => {:class => 'echoForm'} do |f| %>

  <p>
    <%= f.label I18n.t('users.password_resets.steps2.password') %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label I18n.t('users.profile.password.confirm') %>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit I18n.t('users.password_resets.step2.ok'), :class => 'formButton300' %>
<% end %>
