<%= link_to_remote("<h1 class='link'>#{t('static_content.echologic.title')}</h1>", {:url => echologic_path}, :href => echologic_path) %>
<h2><%= t('.title') %></h2>

<%= t('.welcome') %>

<%= image_tag ('page/illustrations/feedback.png', :id => 'feedbackIllustration') %>

<% if not flash[:error].empty? %>
  <div id="errorExplanation" class="errorExplanation">
    <h2><%= t('activerecord.errors.template.header.one') %></h2>
    <p><%= t('activerecord.errors.template.body') %></p>
    <ul>
      <li>
        <%= flash[:error] %>
        <% flash[:error] = "" %>
      </li>
    </ul>
  </div>
<% end %>

<% form_tag({:controller => 'feedback', :action => 'create'}) do %>

  <div class="formBlock">
    <%= label_tag t('user_data.name'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :name %>
  </div>
  
  <div class="formBlock">
    <%= label_tag t('user_data.email'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :sender %>
  </div>

  <div class="formBlock">
    <%= label_tag t('.message'), nil, :class => 'formLabel' %><br/>
    <%= text_area_tag :text %>
  </div>

  <%= submit_tag t('.send'), :class => 'formButton200' %>
  
<% end -%>

