<%= link_to_remote("<h1 class='link'>#{t('static_content.echologic.title')}</h1>", {:url => echologic_path}, :href => echologic_path) %>
<h2><%= t('feedback_locale.title') %></h2>

<%= t('feedback_locale.welcome') %>

<% form_tag({:controller => 'feedback', :action => 'create'}) do %>

  <div class="formBlock">
    <%= label_tag t('user_data.name'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :name %>
  </div>
  
  <div class="formBlock">
    <%= label_tag t('user_data.email'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :sender %>
  </div>

  <div class="formBlock">
    <%= label_tag t('feedback_locale.message'), nil, :class => 'formLabel' %><br/>
    <%= text_area_tag :text %>
  </div>

  <%= submit_tag t('feedback_locale.send'), :class => 'formButton200' %>
  
<% end -%>
