<%= link_to_remote("<h1 class='link'>#{t('static_content.echologic.title')}</h1>", {:url => echologic_path}, :href => echologic_path) %>
<h4><%= t('feedback_locale.title') %></h4>

<%= t('feedback_locale.welcome') %>

<% form_tag({:controller => 'feedback', :action => 'create'}) do %>

  <div class="floating_field">
    <%= label_tag t('user_data.name'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :name, 'Name' %>
  </div>
  
  <div class="floating_field">
    <%= label_tag t('user_data.email'), nil, :class => 'formLabel' %><br />
    <%= text_field_tag :sender, 'name@mail.com' %>
  </div>

  <div class="text_field">
    <%= label_tag t('feedback_locale.message'), nil, :class => 'formLabel' %><br/>
    <%= text_area_tag :text, '...' %>
  </div>

  <%= submit_tag 'Submit' %>
  
<% end -%>
