<% insert_breadcrumb(echologic_path, echologic_path) %>

<span id="echoTeaser"><%= I18n.t('static.echologic.index.teaser') %></span>

<div id="echoHeader">
  <div id="echoLogo"><%= image_tag('page/echo_logo.png') %></div>
  <div id="headerGlue"><%= I18n.t('static.echologic.index.header1') %></div>
  <div id="headerMessage"><%= I18n.t('static.echologic.index.header2') %></div>
</div>

<%= I18n.t('static.echologic.index.teaser_more') %>

<div style="height:128px;">
  <%= link_to('<span class="actionPic"></span>', {:url => echo_path}, :href => echo_path) %>
  <span class="actionCall"><%= I18n.t('static.echologic.index.action') %></span>
</div>
