
<div class="sponsors_container">
  <span class="sponsor_text"><%= I18n.t('sponsors.text') %></span><br/>
  <ul>
    <li title="<%= I18n.t('sponsors.exist') %>" class="sponsor_logo ttLink no_border">
      <a href="http://www.exist.de" alt="EXIST" target="_blank"><%= image_tag('page/logos/EXIST_Logo_s.png') %></a>
    </li>
    <li title="<%= I18n.t('sponsors.eu') %>" class="sponsor_logo ttLink no_border">
      <a href="http://europa.eu/" alt="EU" target="_blank"><%= image_tag('page/logos/EU_Logo_s.png') %></a>
    </li>
    <li title="<%= I18n.t('sponsors.esf') %>" class="sponsor_logo ttLink no_border">
      <a href="http://www.esf.de" alt="ESF" target="_blank"><%= image_tag('page/logos/ESF_Logo_s.png') %></a>
    </li>
    <li title="<%= I18n.t('sponsors.bmwi') %>" class="sponsor_logo ttLink no_border">
      <a href="http://www.bmwi.de" alt="BMWi" target="_blank"><%= image_tag('page/logos/BMWi_Logo_s.png') %></a>
    </li>
    <li title="<%= I18n.t('sponsors.grm') %>" class="sponsor_logo ttLink no_border">
      <a href="http://www.gr-m.de" alt="GRM" target="_blank"><%= image_tag('page/logos/GRM_Logo_s.png') %></a>
    </li>
    <li title="<%= I18n.t('sponsors.lmu_ec') %>" class="sponsor_logo ttLink no_border">
      <a href="http://www.entrepreneurship-center.uni-muenchen.de" alt="LMU EC" target="_blank"><%= image_tag('page/logos/LMU_EC_Logo_s.png') %></a>
    </li>
  </ul>
</div>
