<div id="loginContainer">
  <span class="label"><%= t('.email') %></span>
  <span class="label"><%= t('.password') %></span><br>
  <%= text_field 'login', 'login', :class => 'field' %>
  <%= password_field 'pw', 'pw', :class => 'field' %>
  <%= submit_tag 'Login', :class => 'submit' %><br>
  <span class="sublabel"><%= link_to(t('.remember'), '#') %></span>
  <span class="sublabel"><%= link_to(t('.forgot'), '#') %></span>
</div>