<div id="staticMenu">

  <%= insert_static_remote_button(echologic_path) %>

  <%= insert_static_remote_button(echo_path) %>

  <%= insert_static_remote_button(echocracy_path) %>

  <%= insert_static_remote_button(echonomy_path) %>
  
  <%= insert_static_remote_button(echoonwaves_path) %>
  
  <a class="staticMenuButton" href="join">
    <%= image_tag insert_static_menu_image('join') %>
    <span class="staticMenuButtonTitle">my echo</span><br/>
    <span class="staticMenuButtonSubtitle">Join echologic</span>
  </a>

</div>
