<div id="staticMenu">

  <%= insert_static_remote_button(echologic_path) %>

  <%= insert_static_remote_button(echo_path) %>

  <%= insert_static_remote_button(echocracy_path) %>

  <%= insert_static_remote_button(echonomy_path) %>
  
  <%= insert_static_remote_button(join_path) %>

</div>
