<!--
<div id="missionStatementContainer">
  <% insert_rounded_box do %>
    <div id="missionStatement" class="boxContent">
      <%= image_tag 'page/echologic_mission.jpg' %>
        <div id="yuccaHotspot" class="ttLink" title="<%= t('static_content.echologic.yucca') %>"></div>
        <div id="missionStatementHolder">
          <span class="ms_echologic"><%= t('static_content.echologic.ms1') %></span>
          <span class="ms_text"><%= t('static_content.echologic.ms2') %></span><br/>
          <span class="ms_echo"><%= t('static_content.echologic.ms3', :tooltip => t('static_content.echologic.agora_tooltip')) %></span>
        </div>
    </div>
  <% end %>
</div>
-->
<div id="missionStatementContainer" class="roundedBox">
  <%= image_tag 'page/echologic_mission.jpg' %>
  <div id="yuccaHotspot" class="ttLink" title="<%= t('static_content.echologic.yucca') %>"></div>
  <div id="missionStatementHolder">
    <span class="ms_echologic"><%= t('static_content.echologic.ms1') %></span>
    <span class="ms_text"><%= t('static_content.echologic.ms2') %></span><br/>
    <span class="ms_echo"><%= t('static_content.echologic.ms3', :tooltip => t('static_content.echologic.agora_tooltip')) %></span>
  </div>
</div>