<div id="topMenuContainer">

  <%= link_to "Logout", user_session_path, :method => :delete if current_user_session %>

  <!-- Language choose section. -->
  <% link_to('#') do %>
    <span id='languageChooser'>
      <%= I18n.t('layouts.outer_menu.language') %>
    </span>
    <%= image_tag('page/icons/arrow.gif') %>
  <% end %>

  <%= link_to(I18n.t('layouts.outer_menu.about'), static_path(:about), :class => 'outerMenuItem') %>

  <%= link_to(I18n.t('layouts.outer_menu.feedback'), new_feedback_path, :class => 'outerMenuItem') %>

  <div id="languageSelector" style="display:none;">
    <%= image_tag('page/dropdown/top.png') %>
    <ul>
      <li><%= link_to("English", root_url(:locale => :en)) %></li>
      <li><%= link_to("Deutsch", root_url(:locale => :de)) %></li>
    </ul>
    <%= image_tag('page/dropdown/bottom.png') %>    
  </div> 
</div>
