<div id="topMenuContainer">
  <% language_chooser = "<span id='languageChooser'>" + t('.language') + '</span>'
     language_chooser += image_tag('page/icons/arrow.gif')
  %>
  <%= link_to_function(language_chooser) do |page|
     page[:languageSelector].show; page[:overlay].show; 
  end %>
  <%= link_to_remote "<span class='topMenuItem'>" + t('.about') + '</span>', {:url => about_path}, :href => about_path %>
  <%= link_to_remote "<span class='topMenuItem'>" + t('.feedback') + '</span>', {:url => new_feedback_path, :method => :get}, :href => new_feedback_path %>
  <%= link_to_function "<div id='overlay' style='display:none;'></div>" do |page| page[:languageSelector].hide; page[:overlay].hide; end %>
  <div id="languageSelector" style="display:none;">
    <%= image_tag('page/dropdown/top.png') %>
    <ul>
      <li><%= link_to("English", :locale => "en") %></li>
      <li><%= link_to("Deutsch", :locale => "de") %></li>
    </ul>
    <%= image_tag('page/dropdown/bottom.png') %>    
  </div> 
</div>
