<div id="topMenuContainer">
  <% language_chooser = "<span id='languageChooser'>" + t('.language') + '</span>'
     language_chooser += image_tag('page/icons/arrow.gif')
  %>
  <%= link_to_function(language_chooser) do |page|
     page[:languageSelector].show; page[:overlay].show; 
  end %>

  <%= insert_outer_menu_item('about', static_path(:about)) %>
  <%= insert_outer_menu_item('feedback', new_feedback_path, 'feedback/new') %>

  <div id="languageSelector" style="display:none;">
    <%= image_tag('page/dropdown/top.png') %>
    <ul>
      <li><%= link_to("English", root_url(:locale => :en)) %></li>
      <li><%= link_to("Deutsch", root_url(:locale => :de)) %></li>
    </ul>
    <%= image_tag('page/dropdown/bottom.png') %>    
  </div> 
</div>
