<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= request[:locale] %>" lang="<%= request[:locale] %>">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% title= request[:controller].gsub('/','.') + "." +  request[:action] -%>
    <title><%= I18n.t('seo.title.' + title) %></title>
    <meta name="description" content="<%= I18n.t('application.meta.description') %>"/>
    <meta name="keywords" content="<%= I18n.t('application.meta.keywords') %>"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'echologic' %>
    <%= stylesheet_link_tag 'connect' %>
    <%= stylesheet_link_tag 'profile' %>
    <%= stylesheet_link_tag 'discuss' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'tabs' %>
    <%= stylesheet_link_tag 'jquery.autocomplete' %>
    <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom' %>
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>


    <!-- Javascript -->
    <%= javascript_include_tag :defaults %>
    <%# javascript_include_tag 'IE8' %>
    <%= javascript_include_tag 'jquery.ba-url.min' %>
    <%= javascript_include_tag 'jquery.autocomplete.min' %>
    <%= javascript_include_tag 'jquery.forms' %>
    <%= javascript_include_tag 'jquery.tooltip.pack' %>
    <%= javascript_include_tag 'jquery.autogrow' %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>

    <%# TODO remove partially needed files from inclusion. %>
    <%= yield :head %>

  </head>
  <body>
    <div id="header">
      <div id="echologicLogo">
        <%= link_to(image_tag('page/echologic_logo.png'), welcome_path) %>
      </div>
      <%= render :partial => "layouts/components/top_menu" %>
      <%= render :partial => "users/user_sessions/login" %>
    </div>


    <!-- Messaging section. -->
    <%= render :partial => 'layouts/components/messages' %>


    <%= tabnav :main %>

    <div id="applicationContainer">

      <%= yield :submenu %>

      <div id="function_container">
        <% # Content %>
        <%= yield %>
      </div>

      <span class="border bottom"></span>
      <span class="border top"></span>

    </div>

    <%= render :partial => "layouts/components/bottom_menu" %>

    <!-- Dialog container for outer menu. -->
    <div id="dialogContent" style="display:none;"></div>

  </body>
</html>
