<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= request[:locale] %>" lang="<%= request[:locale] %>">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= I18n.t('application.page_title') %></title>
    <meta name="description" content="<%= I18n.t('application.meta.description') %>"/>
    <meta name="keywords" content="<%= I18n.t('application.meta.keywords') %>"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
    <%= stylesheet_link_tag 'echologic' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.qtip-1.0.0-min' %>
    <%# javascript_include_tag 'IE8' %>
    <%= javascript_include_tag 'jquery.ba-url.min' %>
    <%= javascript_include_tag 'jquery.autocomplete.min' %>

    <%# TODO remove partially needed files from inclusion. %>
    <%= yield :head %>

    <%= stylesheet_link_tag 'connect' %>
    <%= stylesheet_link_tag 'profile' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'jquery.autocomplete' %>

  </head>
  <body>
    <div id="header">
      <div id="echologicLogo">
        <%= link_to(image_tag('page/echologic_logo.png'), users_path) %>
      </div>
      <%= render :partial => "layouts/top_menu" %>
      <%= render :partial => "users/user_sessions/login" %>
    </div>


    <!-- Messaging section. -->
    <div id="messageContainer">
      <div id="error" class="ui-state-error" style="display:none;"></div>
      <div id="info" class="ui-state-highlight" style="display:none;"></div>
    </div>

    <script type="text/javascript">
      <% if flash[:notice] %>
        info('<%= flash[:notice] %>');
      <% elsif flash[:error] %>
        error('<%= flash[:error] %>');
      <% end %>
    </script>

    <div id="echologicContainer" <%= display_echologic_container %>>
      <%= render :partial => "layouts/statement" %>
      <%= render :partial => "layouts/news" %>
    </div>

    <div class="tabContainer" id="tabContainer" <%= display_tab_container %>>
      <%# render :partial => 'layouts/application_tabs' %>
    </div>
      <%= tabnav :main %>
  
    <div id="applicationContainer">

      <div id="contentContainer">
        <% # Content %>
        <%= yield %>
      </div>

      <span class="border bottom"></span>
      <span class="border top"></span>

    </div>

    <%= render :partial => "layouts/bottom_menu" %>

    <!-- Dialog container for outer menu. -->
    <div id="dialogContent" style="display:none;"></div>

  </body>
</html>
