<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>StaticContents: <%= controller.action_name %></title>
  	<%= stylesheet_link_tag 'echologic' %>
    <%= javascript_include_tag :defaults %>    
  </head>
  <body>

  <div id="headlogo">
  	<%= image_tag 'page/headlogo_echologic.png' %>
  </div>
  <div id="invitebubble">
    <span><b>THE TEXT GOES HERE</b><br/>Bubble grows depending on the text </span>
  </div>
  
  <div class="tabContainer">
    <%= yield :tabContainer %>
  </div>
  
  <div class="mainBox">
    <%= insert_rounded_box_top %>
    <div class="boxContent" id="echocracyContainer">
      <%= render :partial => "menu" %>
      <%= yield %>
    </div>
    <%= insert_rounded_box_bottom %>
  </div>
    
  <p style="color: green"><%= flash[:notice] %></p>
  
  
  </body>
</html>
