<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t('page_title') %></title>
    <meta name="description" content="<%= t('meta_description') %>"/>
    <meta name="keywords" content="<%= t('meta_keywords') %>"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
    <%= stylesheet_link_tag 'echologic' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.qtip-1.0.0-min' %>
    <%# javascript_include_tag 'IE8' %>
    <%= javascript_include_tag 'jquery.ba-url.min' %>
  </head>
  <body>

    <div id="header">
      <div id="echologicLogo">
        <%= link_to(image_tag('page/echologic_logo.png'), {:url => root_path}, :href => root_path, :class => :ajaxLink) %>
      </div>
      <div id="inviteBubble">
        <%= link_to(t('.invite'), {:url => join_path}, :href => join_path) %>
      </div>
      <%= render :partial => "layouts/top_menu" %>
      <%= render :partial => "users/user_sessions/login" %>
    </div>
    
    <div id="echologicContainer" <%= display_echologic_container %>>
      <%= render :partial => "layouts/statement" %>
      <%= render :partial => "layouts/news" %>
    </div>

    <div class="tabContainer" id="tabContainer" <%= display_tab_container %>>
      <%= yield :tabContainer %>
    </div>
  
    <div class="mainBox roundedBox">
      <%= render :partial => "layouts/static_menu" %>
      <div id="staticContent">
        <%= yield %>
      </div>
    </div>

    <%= render :partial => "layouts/bottom_menu" %>
 
  </body>
</html>
