<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>StaticContents: <%= controller.action_name %></title>
  	<%= stylesheet_link_tag 'echologic' %>
    <%= javascript_include_tag :defaults %>
    
    <%= include_tiny_mce_if_needed %>
    <%= javascript_include_tag 'wmd' %>

  </head>
  <body>

  <div id="head">
    <div id="headlogo">
    	<%= link_to_remote(image_tag('page/headlogo_echologic.png'), {:url => echologic_path}, :href => echologic_path) %>
    </div>
    <div id="invitebubble">
      <span><b>THE TEXT GOES HERE</b><br/>Bubble grows depending on the text </span>
    </div>
    <%= render :partial => "layouts/top_menu" %>
    <%= render :partial => "layouts/login_container" %>
    
  </div>
    
  <div id="echologicPromoContainer" <%= display_echologic_promo_container %>>
    <div id="statementContainer">
      <%= insert_rounded_box_top %>
        <div id="statement">
          <%= image_tag 'page/statement_claim.png' %>
        </div>
      <%= insert_rounded_box_bottom %>
    </div>
    <div id="videoContainer">
      <%= insert_rounded_box_top %>
      <div id="video">
        the promotion video goes here..
      </div>
      <%= insert_rounded_box_bottom %>
    </div>
  </div>  
  
  <div class="tabContainer" id="tabContainer" <%= display_tab_container %>>
    <%= yield :tabContainer %>
  </div>
  
  <div class="mainBox">
    <%= insert_rounded_box_top %>
    <div class="boxContent" id="mainBoxContent">
      <%= render :partial => "layouts/menu" %>
      <div id="staticContent">
        <%= yield %>
      </div>
    </div>
    <%= insert_rounded_box_bottom %>
  </div>
  
  <%= render :partial => "layouts/bottom_menu" %>
    
  <p style="color: green"><%= flash[:notice] %></p>
  
  
  </body>
</html>
