<h1>New interested_person</h1>

<% form_for(@interested_person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'mceEditor' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  
  <p>
    <%= text_area_tag :wmd_text_area, "# heading 1 \n\n## heading 1.1 \n\ntext *italic* and **bold**." %>
  </p>
  
  <div class="wmd-preview"></div>

<% end %>
