<h1><%= t('.title') %></h1>

<% form_for(@interested_person) do |f| %>
  <%= f.error_messages %>

  <div class="floating_field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="floating_field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <%= f.submit 'Subscribe' %>
<% end %>
