<h1>Listing interested_people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @interested_people.each do |interested_person| %>
  <tr>
    <td><%=h interested_person.name %></td>
    <td><%=h interested_person.email %></td>
    <td><%= link_to 'Show', interested_person %></td>
    <td><%= link_to 'Edit', edit_interested_person_path(interested_person) %></td>
    <td><%= link_to 'Destroy', interested_person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interested_person', new_interested_person_path %>