<tr id="translation_<%= translation.id %>">
  <td><%=h translation.raw_key %></td>
  <td><%=h truncate(translation.value, :length => 40) %></td>
  <td><%= link_to 'Edit', edit_locale_translation_path(@locale, translation), :class => 'ajax' %></td>
  <td><%= link_to 'Destroy', locale_translation_path(@locale, translation), :confirm => 'Are you sure?', :method => :delete, :class => 'ajax' %></td>
</tr>