<h1>Editing translation for <%= @locale.code %></h1>

<p>
  <b>Raw Key:</b>
  <%=h @translation.raw_key %>
</p>


<div style="float:left; height:300px;">
  <% form_for([@locale, @translation]) do |f| %>
    <p>
      <%= f.text_area :value %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>

<div style="float:left; height:300px;">
  <b>Default Locale Value:</b>
  <%=h @translation.default_locale_value %>
</div>
